* {
  
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.conteiner-mae {
    background-color: #64A174;
}

.home {
    box-sizing: border-box;
    width: 98.75vw;
    height: 99vh;
    background-color: red;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    box-sizing: border-box;
    width: 98.75vw !important;
    height: 99vh !important;
    background-color: darkslateblue;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-servicos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box-produtos, .box-plantacoes, .box-fornecedores {
    margin: 2em;
    text-align: center;
}

.image:hover {
    box-shadow: 0.5em -0.5em teal;
}

.descricao {
    margin-top: 1em;
    
}

.footer {
    box-sizing: border-box;
    width: 98.75vw !important;
    height: 100% !important;
    background-color: pink;
    color: white;

    display: flex;
    flex-direction: column;


    align-items: center;
    justify-content: center !important  ;
}


#orderForm {
    max-width: 80em;
    margin: auto;
    color: black;
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    width: 30vw !important;
    padding: 8px;
    margin-bottom: 1em;
}


#product {
    width: 31.4vw !important;
}

button {
    padding: 0.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 10em;
}
button:hover {
    background-color: #45a049;
}

.copyright {
    color: black;
    margin: 1em;
}
.box-forms {
    display: flex;
    flex-direction: row;
}

.vertical-line {
    width: 0; /* No width to make it vertical */
    height: 200px; /* Length of the line */
    border: none; /* Remove default border */
    border-left: 2px solid black; /* Create a left border to represent the line */
    position: relative;
    left: 50%; /* Center the line horizontally */
    top: 50%; /* Position from the top */
    transform: translate(-50%, -50%); /* Center the line */
}

.box-forms {
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;

    left: 50%;
    right: 50%;
}

.awa {
    display: none;
 }

hr {
    height: 60vh;
    border-left: 3px solid #FF6B00;
    margin: 1em 2em;
  
  
 }


